

#breadcrumb {
width: 943px;
padding: 0 0 5px 0;
border-bottom: 0px dotted #E7BCE2;
}
#breadcrumb ul {
margin: 0;
padding: 0;
list-style: none;
}
#breadcrumb a
{
 font-size:12px;
} 
#breadcrumb ul li {
display: inline;
}
a {
color: #555;
text-decoration: underline;
}
.col2-left-layout1 {
float: left;
margin-top: 21px;
}
.col-main {
float: left;
width: 680px;
padding: 0 0 1px;
margin-top: 26px;
}
.messages ul {
list-style: none !important;
margin: 0 !important;
padding: 0 !important;
}
.messages {
width: 100%;
overflow: hidden;
}
.messages li {
margin: 0 0 5px !important;
}
ul {
list-style: none !important;
margin: 0 !important;
padding: 0 !important;
}
.success-msg {
line-height: 21px;
color: #555;
font-size: 13px !important;
font-weight: bold !important;
}
.success-msg {
line-height: 21px;
background-color: #FFF;
background-image: url("../images/16.png");
background-repeat:no-repeat;
border: 1px solid #CACACA;
color: #555;
}
.success-msg {
border-style: solid !important;
border-width: 1px !important;
background-position: 10px 9px !important;
background-repeat: no-repeat !important;
min-height: 24px !important;
padding: 8px 8px 8px 32px !important;
font-size: 13px !important;
font-weight: bold !important;
}
 .product-shop {
float: left;
width: 361px;
}
.product-view
{
float: left;
width: 319px;
}
.product-view .product-shop .product-name {
color: #555;
margin: 10px 0;
font-size: 12px;
}
.product-view .product-shop .product-name h1 {
color: #3A3A3A;
font: 23px/1.35 Arial,Helvetica,sans-serif;
margin: 0;
text-transform: uppercase;
}
.product-name {
margin: 0;
font-size: 1em;
font-weight: normal;
}
.ratings {
font-size: 11px;
line-height: 1.25;
margin: 10px 0;
}
.ratings .rating-box {
float: left;
margin-right: 3px;
}

.rating-box {
margin-left: 60px;
}

.rating-box {
width: 81px;
height: 13px;
font-size: 0;
line-height: 0;
background: url(../images/bkg_rating.gif) 0 0 repeat-x;
text-indent: -999em;
overflow: hidden;
}
.ratings .rating-links {
margin: 0;
font-size: 12px;
text-decoration: none;
color: #555;
}
.rating-box .rating {
float: left;
height: 13px;
background: url(../images/bkg_rating.gif) 0 100% repeat-x;
}
.product-view .product-shop .price-box {
margin: 10px 0;
}
.price-box {
margin: 5px 0;
}
.bottom-view-product {
padding: 0 10px;
height: 36px;
background: #f2f2f2;
border-bottom: 1px dotted #b9b9b9;
border-top: 1px dotted #b9b9b9;
}
.product-view .product-shop .add-to-links {
font-size: 12px;
float: left;
}

.product-view .product-shop .add-to-links {
margin: 0;
}
.add-to-links {
font-size: 11px;
margin: 5px 0 0;
}
.add-to-links a.link-wishlist {
background: url(../images/icon-add-to-wishlist2.png) no-repeat scroll 0 2px transparent;
padding-left: 11px;
}
.product-view .product-shop .add-to-links a {
color: #8A8A8A !important;
font-family: tahoma;
font-size: 9px;
font-weight: normal !important;
text-decoration: none;
line-height: 36px;
text-transform: uppercase;
}
.add-to-links a.link-compare {
background: url(../images/icon-add-to-compare1.png) no-repeat scroll 0 2px transparent;
padding-left: 11px;
}
.email-friend {
float: right;
width: 109px;
margin-top: -36px;
}
.email-friend a {
background: url(../images/email.png) no-repeat scroll 0 2px transparent;
color: #8A8A8A;
font-family: tahoma;
font-size: 9px;
line-height: 36px;
text-decoration: none;
text-transform: uppercase;
padding-left: 17px;
}
.add-to-links a {
color: #8A8A8A !important;
font-family: tahoma;
font-size: 9px;
font-weight: normal !important;
text-decoration: none;
line-height: 36px;
text-transform: uppercase;
}
.product-view .product-shop .add-to-links .separator {
display: none;
}

.add-to-links .separator {
display: none;
}
.add-to-links li {
margin-right: 14px;
display: inline;
}
p {
margin: 0 0 10px;
}

.separator {
margin: 0 3px;
}
ul, ol {
list-style: none;
}
.short-description {
margin: 10px 0;
font-size: 11px;
color: #555;
padding: 10px 0 0;

}
.short-description {
margin: 10px 0;
font-size: 11px;
color: #555;
padding: 10px 0 0;
}		
.short-description span {
color: #e00808;
}
#attrib_wrap {
width: 680px;
border: 0px solid #dadada;
}
 .row_top {
background: url(../images/bg2.jpg)repeat-x left bottom;
}
.kith {
font-size: 22px;
font-weight: bold;
font-family: Arial;
color: #2a938f;
line-height: 76px;
float: left;
padding: 0px 0px 0px 45px;
background: url(../images/kit_icon.png) no-repeat 10px 17px;
width: 215px;
border-right: 1px solid #dadada;
}
 .kit_heading
{
width: 138px;
float: left;
border-right: 1px solid #dadada;
}
.kit_heading h1
{
text-align: center;
padding: 0;
margin: 0;
color: #333;
font-size: 14px;
font-weight: bold;
font-family: arial;
line-height: 20px;
margin-top: 15px;
}
.price {
text-align: center;
padding: 0;
margin: 0 0 7px 0;
color: #e44c3b;
font-size: 16px;
font-weight: bold;
font-family: arial;
line-height: 35px;
}
 .kit_heading_middle {
width: 138px;
float: left;
border-right: 1px solid #dadada;
}
.kit_heading_middle h2 {
background-color: #636461;
color: #fff;
font-size: 13px;
line-height: 15px;
margin: 0;
text-align: center;
font-family: arial;
padding: 2px 0px;
}
 .price2 {
text-align: center;
padding: 0 0 3px 0;
margin: 0;
font-size: 20px;
font-weight: bold;
font-family: arial;
line-height: 30px;
color:#636461;
}
 .kit_heading_last {
width: 138px;
float: left;
border-right: 0px solid #dadada;
}
.clear {
clear: both;
}
.kit_heading_last h1 {
text-align: center;
padding: 0;
margin: 0;
color: #333;
font-size: 14px;
font-weight: bold;
font-family: arial;
line-height: 20px;
margin-top: 15px;
}
.project_kit
{
float: left;
width: 943px;
padding: 0 0 1px;
border:2px solid rgba(204, 201, 201, 0.53);
height:auto;
border-radius:5px;
}
#attrib_wrap .kit_heading_middle h1 {
text-align: center;
padding: 0;
margin: 0;
color: #333;
font-size: 14px;
font-weight: bold;
font-family: arial;
line-height: 20px;
margin-top: 5px;
}
#attrib_wrap .clist {
width: 260px;
border-right: 1px solid #dadada;
float: left;
}
#attrib_wrap .clist table, #attrib_wrap .chklist_g table, #attrib_wrap .chklist_green table {
width: 100%;
border-collapse: collapse;
text-align: left;
font-family: arial;
font-size: 11px;
font-weight: normal;
}
#attrib_wrap .clist table td, #attrib_wrap .chklist_g table td, #attrib_wrap .chklist_green table td {
padding: 6px 4px 6px 8px;
border-bottom: 1px solid #e5e5e5;
color: #484848;
}
#attrib_wrap .clist table th {
background-color: #ECF7FF;
color: #484848;
}
#attrib_wrap .clist table th {
padding-left: 8px;
border-bottom: 1px solid #fff;
}
#attrib_wrap .chklist_g table td, #attrib_wrap .chklist_green table td {
text-align: center;
height: 14px;
}
#attrib_wrap .brdr {
border-right: 1px solid #dadada;
}

#attrib_wrap .chklist_g {
background:#C5C7EB url(../images/droparrow.png)no-repeat center top;
float: left;
width: 138px;
}
#attrib_wrap .chklist_green {
background: #636461 url(../images/droparrow.png) no-repeat center top;
float: left;
width: 138px;
}

#attrib_wrap .brdr {
border-right: 1px solid #dadada;
}
#attrib_wrap .chklist_g {
background: #cfcfcf url(../images/droparrow.png)no-repeat center top;
float: left;
width: 138px;
}
#attrib_wrap .buybtn {
display: block;
text-align: center;
padding: 18px 0px;
background-color: #fff;
}
#attrib_wrap .av {
font-size: 14px;
background-color: #ECF7FF;
}
#attrib_wrap .call {
text-align: center;
font-size: 14px;
color: #e11e0f;
font-family: arial;
padding: 2px 0px;
}
.boxgrid {
width: 254px;
height: 207px;

overflow: hidden;
position: relative;
}
.boxcaption {
position: absolute;
height: 100px;
width: 100%;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.block-related .block-title {
background: none!important;
text-align: center;
}
.block-related .block-title strong {
color: #252525;
font: 16px/42px arial!important;
text-transform: none!important;
}
.block-related .block-content #block-related {
text-align: center!important;
}
.block-related .block-content #block-related li {
padding: 10px 0;
}
.block-related .product {
margin-left: 20px;
}
.product-image {
width: 75px;
height: 119px;
}

.product-image {
width: 140px;
height: 219px;
margin-right: 10px;
}
.caption .boxcaption {
top: 220;
left: 0;
}
.block-related, .block-tags, .block-login {
font-size: 11px;
line-height: 1.25;
}
#scrollimg
{
height:70px
 }
 .block .block-content .product-name {
color: #555;
font-size: 12px;
}

.product-name {
margin: 0;
font-size: 1em;
font-weight: normal;
}
.product-name a {
color: #555;
text-decoration: none;
font-size: 14px;
font-weight: normal;
}
.col-right {
float: right;
width: 195px;
padding: 0 0 1px;
margin-top: -423px;
}
.tabs {
float: left;
height: 24px;
list-style: none outside none;
margin: 0;
padding: 0;
width: 100%;
border-bottom: 1px dotted #CACACA;
}
ul.tabs li {
float: left;
height: 24px;
line-height: 31px;
margin: 0;
overflow: hidden;
padding: 0;
position: relative;
}
ul.tabs li.active {
background: none repeat scroll 0 0 #FFF !important;
border-bottom: 0 none!important;
height: 25px!important;
}
ul.tabs li a span {
background: url(../images/tab-button.jpg) no-repeat scroll 0 0 transparent;
color: #979797;
float: left;
font-size: 12px;
font-weight: normal;
height: 24px;
line-height: 24px;
padding: 0 0 0 10px;
position: relative;
text-align: center;
white-space: nowrap;
}
ul.tabs li.active a span {
background: url(../images/tab-button-active.jpg) no-repeat scroll 0 0 transparent!important;
color: #979797!important;
float: left!important;
font-size: 12px!important;
font-weight: normal!important;
height: 24px!important;
line-height: 24px!important;
padding: 0 0 0 10px;
position: relative;
text-align: center;
white-space: nowrap;
}
.WebRupee {
font-family: 'WebRupee';
}
/* ------------------------------------Footer------------------------------------ */

#footer_wrapper{
	clear: both;
	background: url(../images/main_footer.jpg) repeat-x top;
	bbackground:#c6c6c6;	
	width: 100%;
padding-top: 1094px;

	

}
#footer {
	width: 960px;
	margin: 0 auto 0 1px;
	padding: 6px -1px;
	color: #40464f;
	font-size:13px;	
	font-family:KozGoPr6N-Bold;
}
.datalist
{
color:#E8E8E8;
cursor:pointer;
font-size:12px;
margin-top:5px;
list-style-type:circle;
}

#footer a { 
	text-decoration: none; 
		
}

#footer .footer_list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family:KozGoPr6N-Regular;

}

#footer .footer_list li {
	line-height:25px;
	
}

#footer .footer_list li a { 
font-size:12px;
	text-decoration: none;
		color:#E8E8E8;
	font-weight:bold;	
}
.footer_list img
{
	
	width:30px;
	height:26px;}

#footer .footer_list  a:hover{
text-decoration:underline;
color:#fff;
}

#footer h3 {
	ccolor:#E8E8E8;
	color:#E8E8E8;
	padding-bottom: 0px;
	font-size:16px;	
}

#copyright_wrapper {
	clear: both;
	bbackground: url(../images/footer-bootom-img.jpg) repeat-x top;
	background:#061f3e;
	width: 100%;
}

#copyright {
	width: 960px;
	margin: 0 auto;
	padding: 0px 10px 15px;
	ccolor: #3a4f83;
	color:#fff;
	text-align: right;
	font-size:12px;
}

#copyright  a {
	color: #607fcb;
	text-decoration: none;
}

.footer_social_button { 
	clear: both;
    margin-top:55px;	
	mmargin-bottom: 40px; 
}

.footer_social_button a { 
	margin-right: 5px; 
	margin-top:60px;
}
.col_w960 { 
	width: 960px; 
	margin-bottom: 60px; 
}

.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px }

.col_allw300 { 
	float: left; 
	width: 210px; 
	margin-right:20px;
	color:#E8E8E8;
}

.col_allw300 p {
	font-size:11px;
	font-family:Arial;
	line-height:normal;
}
.col_last { 
	margin: 0; 
}
.subscribe-box {
	font-family: Arial;
	font-size: 9px;
	font-weight: bold;
	color: #9a2500;
	text-decoration: none;
	float: left;
	height: 20px;
	padding-top: -2px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.subscribe-text-box {
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 145px;
	border: 1px solid #CCCCCC;
}
.subscribe-text-box:hover {
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 145px;
	border: 1px solid #999999;
}
.subscribe-submit {
 width:70px; 
background:#00b050; 
border:0; 
color:#fff; 
height:27px; 
display:block; 
line-height:26px; 
cursor:pointer; 
margin:-3px 0 10px 155px;
text-align:center;
}




#footer_menu{
	clear: both;
	background: url(../images/footer.jpg) repeat-x top;
		
	width: 100%;
margin-top:1px;
	height:20px;
}
#footer_menu h3
{
color:#E8E8E8;
	padding-bottom: 0px;
	font-size:16px;	
}

#footer2 {
	width: 960px;
margin: 0 auto 0 1px;
padding: 32px 1px;
color: #E8E8E8;
font-size: 14px;
font-family: KozGoPr6N-Bold;
margin-top: -40px;
}


#footer2 .footer_list_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer2 .footer_list_menu li {
	line-height:25px;
}

#footer2 .footer_list_menu li a { 
    line-height:6px;	
	text-decoration: none;
		color:#E8E8E8;
		float:left;
		margin-right:4px;
	font-weight:bold;
	padding:2px;
	font-size:12px;
	
}
#footer2 .footer_list_menu  a:hover{
text-decoration:underline;
color:#fff;
}
/*end footer*/

.element.style {
margin-top: 84px;
top: 50%;
}

#mrova-img-control {
cursor: pointer;
position: fixed;
right: 0px;
width: 27px;
background: transparent url('../images/FEEDBACK.jpg');
height: 129px;
}
#cart{color:gray;
font-size:14px;}
hr{
background-color:green;
}
#cart-tab{
padding-left:48px;
text-align:center;}
#cart-tab a{color:gray;}
#rem a{color:gray;}

#rem{
margin:-64px 0px 23px 64px;
text-align:center;}
#login-tab{
margin:10px 3px 4px 23px;}
#cart1{color: gray;
font-size: 14px;
padding: 17px 5px 0px 58px;
width: 821px;
text-align: center;
}
#continue-button{border-radius:5px;
background-color:#1B67A3;
width:80px;
color: #fff;
padding:8px 1px 2px 25px;
font-weight: normal;
height: 25px;

}
#continue-button1{border-radius:5px;
background-color:#1B67A3;
width:100px;
color: #fff;
padding:8px 1px 2px 0px;
font-weight: normal;
height: 25px;
}
#newbutton1{background-color:#C22A2A;
color: #fff;
float: left;
font-size: 12px;
font-weight: normal;
height: 30px;
margin-right:367px;
}
#login{
width: 382px;
padding-top: 23px;
}
#register{
float:left;
background:rgba(190, 189, 189, 0.1);
padding:10px;}

#continue-button-register{border-radius:5px;
background-color:rgba(156, 156, 156, 0.69);
width:69px;
color: #fff;
padding:5px 10px 5px 12px;
font-weight: normal;
margin:5px 122px;
text-decoration:none;
}
#black{
background:rgb(94, 92, 92);
width:330px;
border:1px solid white;
color:white;
padding:5px;
}
#black:hover{text-decoration:none;
}
#tag label{float:left;
display:block;
width:200px;}
#sel{
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}
.for-font{
font-size:16px;}
#qty{
width:80px;}
#footer-table{}
#cash{border: 1px solid rgb(194, 194, 194);
float: right;
border-radius: 0px 0px 5px 5px;
width: 276px;
margin-top: -13px;
padding: 10px 7px 2px 5px;
color: gray;
margin-right: 164px;}
#cash-tab{border-top:1px solid gray;}
.step1{ background:url(../images/patch_2.png) no-repeat;
width:180px;
height:24px;
padding:10px 0px;
text-decoration:none;}
.step1:hover{ background:url(../images/patch2.png) no-repeat;
width:180px;
height:24px;
padding:10px 0px;
text-decoration:none;}
.step1 a
{
margin-left: -16px;

}
.p1{margin-left:25px;}
#step1 a{
text-decoration:none;}
#cart{
margin-left:20px;}
.box-content1{width:560px;
border:1px solid rgb(228, 225, 225);
padding:20px;
margin-top:20px;}
#for-combo1{width:400px;
margin:-190px -4px 0px 38px;}
#faq{width:228px;
border:1px solid rgb(228, 225, 225);
float:right;
margin-right:30px;
margin-top:20px;
padding:8px;
font-size:14px;
}
#faq1{
padding:10px 50px 10px 90px;
color:rgba(12, 104, 177, 0.88);}
.plus{font-size: 20px;
color: red;}

#vertical-list{
margin-top:5px;

width:200px;
padding:10px;
border-radius:5px;}
#vertical-list li{padding:10px;
border:1px solid rgba(175, 171, 171, 0.44);}
#ver-tab{
border-right:1px solid rgba(201, 197, 197, 0.44);
width:210px;
float:left;
height:330px;}
#preveiw-content{
padding-left:252px;
width:600px;
}
#preveiw-section{padding:8px;}
#recent{padding:39px 0px 10px 22px;
width:308px;

}
#newb{background-image:url('../images/blue.png');
background-size:75% 115%;
height:16px;
background-repeat:no-repeat;
margin-left:82px;
padding:8px 0px 8px 7px;
width:200px;}
#newa{background-image: url('../images/blue.png');
background-size: 75% 115%;
height: 17px;
background-repeat: no-repeat;
margin-left: 62px;
padding: 11px 59px 10px 6px;
width: 80px;
}
#newc{background-image: url('../images/blue.png');
background-size: 75% 115%;
height: 17px;
background-repeat: no-repeat;
margin-left: 109px;
padding: 6px 0px 7px 14px;
width: 136px;}
#newb a{color:white;}
#newb a:hover{color:rgb(214, 210, 210);}
#newa a{color:white;}
#newa a:hover{color:rgb(214, 210, 210);}
#newc a{color:white;}
#newc a:hover{color:rgb(214, 210, 210);}
#credit{float:left;}
#newd{

margin-left:167px;
margin-top:121px;
padding:8px 0px 8px 7px;
width:200px;}
#newd a{color:white;}
#newd a:hover{color:rgb(214, 210, 210);}
#message_view
{
padding-top: 20px;
}

