	@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}



.feedback{
margin-top:100px;
position:fixed;
float:right;
	left:0;
	bottom:0;
}

.feedback a {
	display:block;
	height:20px;
	width:100px;
	text-align:center;
	background:#3e3e3e;
	border:2px solid #fff;
	outline:1px solid #a1a1a1;	
	padding:5px;
	float:left;
	cursor:pointer;
	
	/*Font*/
	color:#FFF;
	font-weight:bold;
	font-size:18px;
}

.feedback .form{
	clear:both;
	height:300px;
	width:250px;
	border:1px solid #000;
	background:#fff;
	padding:15px;
	display: none;
}
.feedback .form textarea{
	height:170px;
	width:250px;
	padding:5px;
}
.feedback .status{
	font-size:16px;
}


body {
margin: 0px;
padding: 0;
text-align: justify;
font-family: Kozuka Gothic Pr6N;
font-size: 11px;
color: #000000;
width: 100%;
}

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#container{
	width: 960px;
	margin: 0 auto;
	padding-top: 14px;
	}
	#container1{
	width: 960px;
	margin: 0 auto;

	}
#page {
	width: 960px;
	margin: 0 auto;
	padding: 0px;	
	height: auto;
	/*background: url(images/img03.jpg) left top;*/
}

 

#share-wrapper {
margin-top: 300px;
position: fixed;
left: 0;
}
#share-wrapper ul.share-inner-wrp {
list-style: none;
margin: 0px;
padding: 0px;
}
#share-wrapper li.button-wrap {
background: #FFFFFF;
padding: 0px 0px 0px 10px;
display: block;
width: 140px;
margin: 0px 0px 1px -117px;
}
#share-wrapper ul.share-inner-wrp {
list-style: none;
}
#share-wrapper li.button-wrap > a {
padding-right: 60px;
height: 40px;
display: block;
line-height: 32px;
font-weight: bold;
color: #444;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
#share-wrapper .facebook> a {
background: url(../buttons/facebook.jpg) no-repeat right;
}
#share-wrapper .twitter > a {
background: url(../buttons/twitter.jpg) no-repeat right;
}
#share-wrapper .digg > a {
background: url(../buttons/phot.png) no-repeat right;
}
#share-wrapper .stumbleupon > a {
background: url(../buttons/printer.png) no-repeat right;
}
#share-wrapper .google > a {
background: url(../buttons/plus.png) no-repeat right;
}
#share-wrapper .email1 > a {
background: url(../buttons/email.jpg) no-repeat right;
}
#Header_wrapper{
	clear: both;
	background: url(../images/whitefull.png) repeat-x top;	
	width: 100%;
	height: 297px;
}
#header_image
{
background: url(../images/headerbg.jpg) repeat-x;
width: 100%;
}
#footer_image
{
background: url(../images/footerbg.jpg) repeat-x;
width: 100%;
}
.hanechitra2{
width: 360px;
margin-left: 10px;
height: 170px;
background: url(../images/Headerlogo.png) no-repeat;
}

.hanechitra3{
width: 460px;
float:right;
margin-top: -23px;
}
.hanechitra4
{
width: 260px;
float:right;
margin: -68px -403px 0px 0px;
}
#upperlogo
{
margin:0px;
 border-right:0px solid #dedfdf;

 }
 #upperlogo li
{
float: right;
display: inline;	
}

#innerlogo
{
margin:0px;
 border-right:0px solid #dedfdf;
} 
#innerlogo li
{
float: left;
display: inline;	
}
#menu {
	width: 99%;
   margin: 13px auto 0px 5px;

	padding: 0;
	height: 54px;
	background-image:url(../images/menuplain.png);
	font-family:Century Gothic;
	
	
}


#menu ul {
	width:960px;
	margin:0 auto 0px 0px;
	padding: 0px 0 0 0px;
	list-style: none;		
}

#menu li {
	float: left;
	display: inline;	
   height: 48px;
	margin-top: 6px;
border-right:1px solid #dedfdf;
	

}
#menu  li+li+li+li+li+li+li+li
{

	border-right:0px solid #bcbbbb;

}
#menu li input 
{
margin-top: 5px;
width: 166px;
height: 16px;

}
.WebRupee {
font-family: 'WebRupee';
}
li#home_leftline {
	border-left:0px solid #ccd4db;
	height:45px;
}

#menu a {
	height:50px;
	margin: 0;
 padding:16px 17px 21px 8px;
	text-decoration: none;
	line-height:40px;
	font-size:12px;
	color:#807d7d;
	font-weight:bold;
	
}

#menu a:hover,#menu li a:hover {
color:#FFF;
background: #c80d00;	
}
#menu .current_page_item a {
color:#FFF;
	background: #c80d00;
	border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;	
	box-shadow: 0px 3px 7px;
   -webkit-box-shadow: 0px 3px 7px;
	
}

#breadcrumb {
width: 943px;
padding: 0 0 5px 0;
border-bottom: 0px dotted #E7BCE2;
}
#breadcrumb ul {
margin: 0;
padding: 0;
list-style: none;
}
#breadcrumb a
{
 font-size:12px;
} 
#breadcrumb ul li {
display: inline;
}
#breadcrumb1 {
padding: 7px 14px;
list-style: none;
background-color: #fbfbfb;
background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
background-image: linear-gradient(top, #ffffff, #f5f5f5);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
border: 1px solid #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
}
#breadcrumb1 ul {
margin: 0;
padding: 0;
list-style: none;
background: #ecebec;
}
#breadcrumb1 a
{
 font-size:12px;
 text-align:center;
} 
#breadcrumb1 #idian li  {
display: inline-block;
text-shadow: 0 1px 0 #ffffff;

}
#breadcrumb2 {
padding: 7px 14px;
margin: 0 0 18px;
list-style: none;
background-color: #fbfbfb;
background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
background-image: linear-gradient(top, #ffffff, #f5f5f5);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
border: 1px solid #ddd;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
}
#breadcrumb2 ul {
margin: 0;
padding: 0;
list-style: none;
background: #ecebec;
}
#breadcrumb2 a
{
 font-size:12px;
 text-align:center;
} 
#breadcrumb2 #idian li  {
display: inline-block;
text-shadow: 0 1px 0 #ffffff;

}
.divider {
padding: 0 5px;
color: #999999;
font-size:15px;
}
.divider1 {

}

a {
color: #555;
text-decoration: underline;
}
.col2-left-layout1 {
float: left;
margin-top: -43px;
}
.col-main {
float: left;
width: 960px;
padding: 0 0 1px;

}
.messages ul {
list-style: none !important;
margin: 0 !important;
padding: 0 !important;
}
.messages {
width: 100%;
overflow: hidden;
}
.messages li {
margin: 0 0 5px !important;
display:inline;

}
#message_view
{
width:100%
}
ul {
list-style: none !important;
margin: 0 !important;
padding: 0 !important;
display: inline;
}
.success-msg {
line-height: 21px;
color: #555;
font-size: 13px !important;
font-weight: bold !important;
}
.success-msg {
line-height: 21px;
background-color: #FFF;
background-image: url("../images/16.png");
background-repeat:no-repeat;
border: 1px solid #CACACA;
color: #555;
}
.success-msg {
border-style: solid !important;
border-width: 1px !important;
background-position: 10px 9px !important;
background-repeat: no-repeat !important;
min-height: 24px !important;
padding: 8px 8px 8px 32px !important;
font-size: 13px !important;
font-weight: bold !important;
}
 .product-shop {
float: left;
width: 361px;
padding-left: 56px;
}
.product-view
{
float: left;
width: 412px;
}
.product-view .product-shop .product-name {
color: #555;
margin: 10px 0;
font-size: 12px;
}
.product-view .product-shop .product-name h1 {
color: #3A3A3A;
font: 23px/1.35 Arial,Helvetica,sans-serif;
margin: 0;
text-transform: uppercase;
}
.product-name {
margin: 0;
font-size: 1em;
font-weight: normal;
}
.ratings {
font-size: 11px;
line-height: 1.25;
margin: 10px 0;
}
.ratings .rating-box {
float: left;
margin-right: 3px;
}

.rating-box {
margin-left: 60px;
}

.rating-box {
width: 81px;
height: 13px;
font-size: 0;
line-height: 0;
background: url(../images/bkg_rating.gif) 0 0 repeat-x;
text-indent: -999em;
overflow: hidden;
}
.ratings .rating-links {
margin: 0;
font-size: 12px;
text-decoration: none;
color: #555;
}
.rating-box .rating {
float: left;
height: 13px;
background: url(../images/bkg_rating.gif) 0 100% repeat-x;
}
.product-view .product-shop .price-box {
margin: 10px 0;
}
.price-box {
margin: 5px 0;
}
.price-box1 {
margin: 5px 0 0 28px;
}
.bottom-view-product {
padding: 0 10px;
height: 36px;
background: #f2f2f2;
border-bottom: 1px dotted #b9b9b9;
border-top: 1px dotted #b9b9b9;
}
.product-view .product-shop .add-to-links {
font-size: 12px;
float: left;
}

.product-view .product-shop .add-to-links {
margin: 0;
}
.add-to-links {
font-size: 11px;
margin: 5px 0 0;
}
.add-to-links a.link-wishlist {
background: url(../images/icon-add-to-wishlist2.png) no-repeat scroll 0 2px transparent;
padding-left: 11px;
}
.product-view .product-shop .add-to-links a {
color: #8A8A8A !important;
font-family: tahoma;
font-size: 9px;
font-weight: normal !important;
text-decoration: none;
line-height: 36px;
text-transform: uppercase;
}
.add-to-links a.link-compare {
background: url(../images/icon-add-to-compare1.png) no-repeat scroll 0 2px transparent;
padding-left: 11px;
}
.email-friend {
float: right;
width: 109px;
margin-top: -36px;
}
.email-friend a {
background: url(../images/email.png) no-repeat scroll 0 2px transparent;
color: #8A8A8A;
font-family: tahoma;
font-size: 9px;
line-height: 36px;
text-decoration: none;
text-transform: uppercase;
padding-left: 17px;
}
.add-to-links a {
color: #8A8A8A !important;
font-family: tahoma;
font-size: 9px;
font-weight: normal !important;
text-decoration: none;
line-height: 36px;
text-transform: uppercase;
}
.product-view .product-shop .add-to-links .separator {
display: none;
}

.add-to-links .separator {
display: none;
}
.add-to-links li {
margin-right: 14px;
display: inline;
}
p {
margin: 0 0 10px;
}

.separator {
margin: 0 3px;
}
ul, ol {
list-style: none;
}
.short-description {
margin: 10px 0;
font-size: 11px;
color: #555;
padding: 10px 0 0;

}
.short-description {
margin: 10px 0;
font-size: 11px;
color: #555;
padding: 10px 0 0;
}		
.short-description span {
color: #e00808;
}
#attrib_wrap {
width: 680px;
border: 0px solid #dadada;
margin-top: 18px;
}
#attrib_wrap1{
width: 667px;
border: 0px solid #dadada;
padding: 10px;
}
 .row_top {
background: url(../images/bg2.jpg)repeat-x left bottom;
}
.kith {
font-size: 22px;
font-weight: bold;
font-family: Arial;
color: #2a938f;
line-height: 76px;
float: left;
padding: 0px 0px 0px 45px;
background: url(../images/kit_icon.png) no-repeat 10px 17px;
width: 215px;
border-right: 1px solid #dadada;
}
 .kit_heading
{
width: 138px;
float: left;
border-right: 1px solid #dadada;
}
.kit_heading h1
{
text-align: center;
padding: 0;
margin: 0;
color: #333;
font-size: 14px;
font-weight: bold;
font-family: arial;
line-height: 20px;
margin-top: 15px;
}
.price {
text-align: center;
padding: 0;
margin: 0 0 7px 0;
color: #e44c3b;
font-size: 22px;
font-weight: bold;
font-family: arial;
line-height: 35px;
}
strike {
text-decoration: line-through;
}
.mrp a:hover {
color: #2071a1;
text-decoration: underline;
}
 .kit_heading_middle {
width: 138px;
float: left;
border-right: 1px solid #dadada;
}
.kit_heading_middle h2 {
background-color: #636461;
color: #fff;
font-size: 13px;
line-height: 15px;
margin: 0;
text-align: center;
font-family: arial;
padding: 2px 0px;
}
 .price2 {
text-align: center;
padding: 0 0 3px 0;
margin: 0;
font-size: 20px;
font-weight: bold;
font-family: arial;
line-height: 47px;
color:#636461;
}
 .kit_heading_last {
width: 138px;
float: left;
border-right: 0px solid #dadada;
}
.clear {
clear: both;
}
.kit_heading_last h1 {
text-align: center;
padding: 0;
margin: 0;
color: #333;
font-size: 14px;
font-weight: bold;
font-family: arial;
line-height: 20px;
margin-top: 15px;
}
.project_kit
{
float: left;
width: 687px;
padding: 0 0 1px;
margin-left:156px;
}
.row_top {
background: rgba(190, 190, 190, 0.25);
border-bottom: 1px solid rgb(211, 209, 209);
}
.project_kit1
{
float: left;
width: 687px;
padding: 0 0 1px;


}
#attrib_wrap{
border:1px solid rgb(216, 215, 215);}
#attrib_wrap .kit_heading_middle h1 {
text-align: center;
padding: 0;
margin: 0;
color:#706F6F;
font-size: 14px;
font-weight: bold;
font-family: arial;
line-height: 20px;
margin-top: 5px;
}
#attrib_wrap .clist {
width: 260px;
border-right: 1px solid #dadada;
float: left;
}
#attrib_wrap .clist table, #attrib_wrap .chklist_g table, #attrib_wrap .chklist_green table {
width: 100%;
border-collapse: collapse;
text-align: left;
font-family: arial;
font-size: 11px;
font-weight: normal;
}
#attrib_wrap .clist table td, #attrib_wrap .chklist_g table td, #attrib_wrap .chklist_green table td {
padding: 6px 4px 6px 8px;
border-bottom: 1px solid #e5e5e5;
color: #484848;
}
 #attrib_wrap .chklist_g:hover

 {
box-shadow: 0px 1px 10px -1px;
-webkit-box-shadow: 0px 1px 10px -1px;
color: #c80d00;
 }
 #attrib_wrap .chklist_green:hover
 {
 box-shadow: 0px 1px 10px -1px;
-webkit-box-shadow: 0px 1px 10px -1px;
color: #c80d00;
 }
#attrib_wrap .clist table th {
background-color: #ECF7FF;
color: #484848;
}
#attrib_wrap .clist table th {
padding-left: 8px;
border-bottom: 1px solid #fff;
}
#attrib_wrap .chklist_g table td, #attrib_wrap .chklist_green table td {
padding:5px 60px;
height: 14px;
}

#attrib_wrap .brdr {
border-right: 1px solid #dadada;
}

#attrib_wrap .chklist_g {
float: left;
width: 138px;

}
#attrib_wrap .chklist_green {
float: left;
width: 138px;
background:#dcdcdb;
}

#attrib_wrap .brdr {
border-right: 1px solid #dadada;
}
#attrib_wrap .chklist_g {
float: left;
width: 138px;
background:#bababa;

}

#attrib_wrap .buybtn {
display: block;
text-align: center;
padding: 19px 0px;
background-color: #fff;
}
#attrib_wrap .av {
font-size: 14px;
background-color: #ECF7FF;
}
#attrib_wrap .call {
text-align: center;
font-size: 14px;
color: #e11e0f;
font-family: arial;
padding: 29px 0px;
}
.boxgrid {
width: 254px;
height: 207px;

overflow: hidden;
position: relative;
}
.boxcaption {
position: absolute;
height: 100px;
width: 100%;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.block-related .block-title {

text-align: center;
border-bottom: 1px solid #E4E1E1;
background-color: rgba(68, 68, 68, 0.72);
}
.block-related .block-title strong {
color: #252525;
font: 16px/42px arial!important;
text-transform: none!important;
}
.block-title1 {
background: none!important;

border-bottom: 0px solid #E4E1E1;
padding:0px;
background-color: #dadada;
margin-bottom: 20px;
}
.block-title1 strong {
color: #369bd7;
font: 16px/42px arial!important;
text-transform: none!important;
}
.block-title2 {
background: none!important;
border-bottom: 0px solid #E4E1E1;
padding:0px;
background-color: #dadada;
}
.block-title2 strong {
color: #369bd7;
font: 16px/42px arial!important;
text-transform: none!important;
}
.block-title3 {
background: none!important;
border-bottom: 0px solid #E4E1E1;
padding:0px;
background-color: #dadada;
margin-top: 16px;
}
.block-title3 strong {
color: #369bd7;
font: 16px/42px arial!important;
text-transform: none!important;
}
.block-related .block-content #block-related {
text-align: center!important;
}
.block-related .block-content #block-related li {
padding: 10px 0;
}
.block-related .product {
margin-left: 85px;
}
.block-related1 li
{
border-bottom: 1px dotted #949191;
padding: 10px 0;
 }
 .block-related2 li
{
border-bottom: 1px dotted #949191;
padding: 10px 0;
 }
.product-image {
width: 75px;
height: 119px;
}
.product-name a {
color: #555;
text-decoration: none;
font-size: 14px;
font-weight: normal;

}
.product-details
{
margin-left: -35px;
padding-left: -7px;

} 

.product-image {
width: 140px;
height: 219px;
margin-right: 10px;
}
.caption .boxcaption {
top: 220;
left: 0;
}
.block-related, .block-tags, .block-login {
font-size: 11px;
line-height: 1.25;
height: 300px;
background-color: rgba(241, 240, 240, 0.74);
}
.block-related1, .block-tags, .block-login {
font-size: 11px;
line-height: 1.25;
height: 396px;
border: 1px solid rgb(235, 235, 235);
margin-bottom: 28px;
margin-top: 7px;
width: 250px;
}
.block-related2
{
font-size: 11px;
line-height: 1.25;
height: 396px;
border: 1px solid rgb(235, 235, 235);
margin-bottom: 28px;
margin-top: 32px;
width: 250px;
}
.product_desc
{
height:auto;
}
.tab-content > .tab-pane, .pill-content > .pill-pane
{
 height:auto;
} 
#scrollimg
{
height:70px
 }
 .block .block-content .product-name {
color: #555;
font-size: 12px;
}

.product-name {
margin: 0;
font-size: 1em;
font-weight: normal;
padding-bottom: 17px;
width: 551px;
}
.product-name1 {
margin: 0;
font-size: 1em;
font-weight: normal;
padding-bottom: 8px;
padding-right: 42px;

}
.product-name a {
color: #555;
text-decoration: none;
font-size: 14px;
font-weight: normal;
}
.col-right {
float: right;
width: 250px;
padding: 0 0 1px;
margin-top: -259px;
}
.mrp_buy_list
{
font-size: 22px;
}
.mrp li
{
 padding:0px;
} 
.mrp a
{
font-size: 12px;
}
.tabs {
float: left;
height: 24px;
list-style: none outside none;
margin: 0;
padding: 0;
width: 100%;
border-bottom: 1px dotted #CACACA;
}
ul.tabs li {
float: left;
height: 24px;
line-height: 31px;
margin: 0;
overflow: hidden;
padding: 0;
position: relative;
}
ul.tabs li.active {
background: none repeat scroll 0 0 #FFF !important;
border-bottom: 0 none!important;
height: 25px!important;
}
ul.tabs li a span {
background: url(../images/tab-button.jpg) no-repeat scroll 0 0 transparent;
color: #979797;
float: left;
font-size: 12px;
font-weight: normal;
height: 24px;
line-height: 24px;
padding: 0 0 0 10px;
position: relative;
text-align: center;
white-space: nowrap;
}
ul.tabs li.active a span {
background: url(../images/tab-button-active.jpg) no-repeat scroll 0 0 transparent!important;
color: #979797!important;
float: left!important;
font-size: 12px!important;
font-weight: normal!important;
height: 24px!important;
line-height: 24px!important;
padding: 0 0 0 10px;
position: relative;
text-align: center;
white-space: nowrap;
}
.WebRupee {
font-family: 'WebRupee';
}
#cart-tab {
padding-left: 24px;
text-align: center;
}
#cart-tab a {
color: gray;
}
.active img {
border: 1px dotted #333 !important;
}
p {
margin: 0 0 9px;
}
.plus
{

font-size:20px;
color:red;
}
.combooffer
{
width: 104px;
height: 47px;
margin: -164px 86px 0px 15px;
float: right;
 }
 .access
 {
padding:10px;

 }
 .access_content
 {
background-color: #fbfbfb;
padding-top: 20px;
margin-top:12px;
}
 .unit {
float: left;
_zoom: 1;

}
 .unit1 {
float: right;
_zoom: 1;
margin-left: 34px;

}
.pp-big-star {
background: url('../images/str.png') no-repeat;
width:74px;
color: #fff;
display: block;
padding: 25px 0;
font-size: 15px;
text-align: center;
}
.border-class
{
border:1px solid #E4E1E1;
}
.ratings
{
border-bottom: 0px dotted #ccc;
margin-left: -60px;
}
.review_list
{
border-bottom: 1px dotted #ccc;
}
.review_list .fk_reviews
{
 padding: 10px 0;
}
.review_list .fk_reviews1
{
 padding: 10px 0;
}
.section1 {
line-height: 20px;
}
.size1of5 {
width: 20%;
}
.ratings .rating-box1 {
float: left;
margin-right: 3px;
}

.rating-box1 {
}

.rating-box1{
width: 81px;
height: 13px;
font-size: 0;
line-height: 0;
background: url(../images/bkg_rating.gif) 0 0 repeat-x;
text-indent: -999em;
overflow: hidden;
}
.ratings .rating-links {
margin: 0;
font-size: 12px;
text-decoration: none;
color: #555;
}
.rating-box1 .rating {
float: left;
height: 13px;
background: url(../images/bkg_rating.gif) 0 100% repeat-x;
}
.fk-font-small, .fksd-smalltext {
font-size: 11px;
}
.line
{
 padding:0px;
 overflow: hidden;
} 
.comment_list
{
overflow: hidden;
}
.mini-products-list
{
background-color: #fbfbfb;
}
#login {
margin-top: 19px;
float: left;
}
.mrp
{

height: 337px;
width: 251px;
}
#write_review
{
margin-top: 20px;
background-color:rgb(119, 119, 119);
border-radius:2px;
}
.write
{
margin: 0px 0px 0px 12px;
padding: 16px 0px 0px 0px;
} 
#login-tab td
{
color:#FFF;
}
#continue-button button[type="submit"] {
	cursor:pointer;
	width: 25%;
	border:none;
	background:#8ebd30;
	background-image:linear-gradient(bottom, #8C1C50 0%, #052333; 52%);
	background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #052333;52%);
	background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #052333; 52%);
	color:#FFF;
	margin: 0 0 16px;
	padding: 8px;
    font-weight:bold;
}
#continue-button button[type="submit"]:hover {
	background-image:linear-gradient(bottom, #de0024 0%, #de0024 52%);
	background-image:-moz-linear-gradient(bottom, #de0024 0%, #de0024 52%);
	background-image:-webkit-linear-gradient(bottom, #de0024 0%, #de0024 52%);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
#continue-button button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#gallery_01 ul
{
 float:right;
} 
#liid
{
padding-right: 44px;
width: 80%;
margin: 0 auto;
}
.block-title8 {
text-align: center; 
border-bottom: 1px solid #E4E1E1;
background-color: rgba(68, 68, 68, 0.72);
}
 .block-title8 strong {
color: #252525;
font: 16px/42px arial!important;
text-transform: none!important;
}
.mrp ol
{
padding-bottom:2px;
border: 1px solid rgb(235, 235, 235);
} 
/* ------------------------------------Footer------------------------------------ */

#footer_wrapper{
	clear: both;
	background: url(../images/main_footer.jpg) repeat-x top;
	bbackground:#c6c6c6;	
	width: 100%;
padding-top: 18px;

}
#footer {
	width: 960px;
	margin: 0 auto 0 1px;
	padding: 54px 1px;
	color: #40464f;
	font-size:13px;	
	font-family: KozGoPr6N-Bold;
}
.datalist
{
color:#E8E8E8;
list-style-type:circle;
font-size:12px;
margin-top:5px;
}

#footer a { 
	text-decoration: none; 
}

#footer .footer_list {
	margin: 0;
	padding: 0;
	list-style: none;

}

#footer .footer_list li {
	line-height:25px;
}

#footer .footer_list li a { 
font-size:12px;
	text-decoration: none;
		color:#E8E8E8;
	font-weight:bold;	
}
.footer_list img
{
	
	width:30px;
	height:26px;}

#footer .footer_list  a:hover{
text-decoration:underline;
color:#fff;
}

#footer h3 {
	ccolor:#E8E8E8;
	color:#E8E8E8;
	padding-bottom: 0px;
	font-size:16px;	
}

#copyright_wrapper {
	clear: both;
	bbackground: url(../images/footer-bootom-img.jpg) repeat-x top;
	background:#061f3e;
	width: 100%;

}

#copyright {
	width: 960px;
	margin: 0 auto;
	padding: 0px 10px 15px;
	ccolor: #3a4f83;
	color:#fff;
	text-align: right;
	font-family: KozGoPr6N-Bold;
	font-size:12px;
}

#copyright  a {
	color: #607fcb;
	text-decoration: none;
}

.footer_social_button { 
	clear: both;
    margin-top:55px;	
	mmargin-bottom: 40px; 
}

.footer_social_button a { 
	margin-right: 5px; 
	margin-top:60px;
}
.col_w960 { 
	width: 960px; 
	margin-bottom: 60px; 
}

.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px }

.col_allw300 { 
	float: left; 
	width: 210px; 
	margin-right:20px;
	color:#E8E8E8;
}

.col_allw300 p {
	font-size:11px;
	font-family:Arial;
	line-height:normal;
}
.col_last { 
	margin: 0; 
}
.subscribe-box {
	font-family: Arial;
	font-size: 9px;
	font-weight: bold;
	color: #9a2500;
	text-decoration: none;
	float: left;
	height: 20px;
	padding-top: -2px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.subscribe-text-box {
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 145px;
	border: 1px solid #CCCCCC;
}
.subscribe-text-box:hover {
	font-family: Arial;
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 145px;
	border: 1px solid #999999;
}
.subscribe-submit {
 width:70px; 
background:#00b050; 
border:0; 
color:#fff; 
height:27px; 
display:block; 
line-height:26px; 
cursor:pointer; 
margin:-3px 0 10px 155px;
text-align:center;
}




#footer_menu{
	clear: both;
	background: url(../images/footer.jpg) repeat-x top;
		
	width: 100%;
margin-top:1px;
	height:20px;
}
#footer_menu h3
{
color:#E8E8E8;
	padding-bottom: 0px;
	font-size:16px;	
}

#footer2 {
width: 960px;
padding: 66px 1px;
color: rgb(232, 232, 232);
font-size: 14px;
font-family: KozGoPr6N-Bold;
margin-top: -112px;
}


#footer2 .footer_list_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer2 .footer_list_menu li {
	line-height:25px;
}

#footer2 .footer_list_menu li a { 
    line-height:6px;	
	text-decoration: none;
		color:#E8E8E8;
		float:left;
		margin-right:4px;
	font-weight:bold;
	padding:2px;
	font-size:12px;
	
}
#footer2 .footer_list_menu  a:hover{
text-decoration:underline;
color:#fff;
}
/*end footer*/

.element.style {
margin-top: 84px;
top: 50%;
}

#mrova-img-control {
cursor: pointer;
position: fixed;
right: 0px;
width: 27px;
background: transparent url('../images/FEEDBACK.jpg');
height: 129px;

}
.payment
{

}
#payment_method h4
{
color:#fff;

}