#mrova-feedback label {
	display:block; 
	padding-bottom:0px; 
	
}

#mrova-feedback{
	display: hidden;
	width: 420px;
	position: fixed;
	right: -462px;
	border: 0px solid #3cb58c;
	padding: 8px 20px;
	background-image:url('../images/gray_background_op_800x600.jpg');
	z-index:999;

}


#mrova-contactform ul {
	margin: 0;
	padding: 0;
	
}

#mrova-contactform input, #mrova-contactform textarea{
width: 400px;
padding: 10px;
border: 1px solid #ccc;
margin-bottom: 0px;
}

#mrova-contactform ul li {
	list-style:none; 
	padding-bottom:20px;
}


#mrova-img-control{
cursor: pointer;
	
position: absolute;
left: -27px;
width: 27px;
background: transparent url('../images/FEEDBACK.jpg');
height: 129px;
}
#mrova-contactform #mrova-sendbutton {
	width:60px;
	background:#db4f4a; color:#fff; 
	cursor:pointer;
	padding:5px 10px; 
	border: none;
}
