
.col-main {
float: none;
width: 923px;
}

.page-title {
width: 100%;
overflow: hidden;
border: 0px solid #ccc;
margin: 0 0 25px;
padding:10px;
}
#page-title{
margin-top:-47px;
padding:0px 0px 40px 0px;
font-size:20px;
color:rgb(32, 110, 172);}
.question{
font-size:16px;
color:rgb(204, 134, 10);
padding:5px;
width:930px;
margin-top:10px;
}
.answer{padding:5px;
width:930px;
font-size:14px;
color:gray;

}
#video{
border:2px solid rgba(128, 128, 128, 0.31);
padding-top:10px;}
.std{
padding:10px 0px 0px 0px;}
.page-title h1, .page-title h2 
{
color: #3A3A3A;
font-size: 23px !important;
margin: 0;
text-transform: none;

}



.mater-black
{
font-size: 12px;
line-height: 190%;
}

.arrow {
float: right;
}

.arrow img {
width: 20px;
height: 20px;
}

.scrollup {
width: 40px;
height: 40px;
position: fixed;
bottom: 40px;
right: 10px;
display: none;
text-indent: -9999px;
background: url('../images/icon_top.png') no-repeat;
opacity: 0.7;
cursor: pointer;
}
p {
margin: 0 0 7px;

font-size:13px;
padding:0px;
}
strong {
font-weight: bold;
}
.scrollup:hover{
text-decoration:none;
}

#extrawrapper
{
height: 1320px;
 }

#learning{border:2px solid rgba(90, 92, 88, 0.57);
width:900;
}
#wrap{color:gray;
width:874px;
border:1px solid rgba(128, 128, 128, 0.43);
height:auto;

margin:0px 10px 20px 20px;}
#learning-content{
width:405px;
float:left;
font-size:14px;
float:left;
padding:0px 16px 15px 65px;
margin-top:20px;
}
#fill-form{
margin-left:193px;}
#bank-deposit{
border-top: 1px solid rgba(141, 141, 141, 0.34);
margin: 220px 54px 10px 54px;}
#extrawrapper1{
height:170px;

float:left;
width:150px;
font-size:16px;
border-right:1px solid rgba(128, 128, 128, 0.44);
padding:0px 16px 15px 220px;
margin-top:20px;}
.image{float:left;
margin:19px 40px 5px 0px;}
.image-des{padding:14px 0px 0px 20px;
width:902px;}
.image1{float: right;
margin: -111px 0px 5px 27px;}
.image-des1{margin-top:18px;
width:634px;}
#first-image-content{
border-bottom: 1px solid rgba(221, 221, 221, 0.67);
height: 256px;}
#top-content{border-bottom: 1px solid rgba(201, 201, 201, 0.28);
height: 163px;}
#breadcrumb {
width: 943px;
padding: 0 0 25px 0;
margin-top: -42px;
}
#breadcrumb ul {
margin: 0;
padding: 0;
list-style: none;
}
#breadcrumb a
{
 font-size:12px;
 text-decoration: none;
} 
#breadcrumb ul li {
display: inline;
}