	@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}



.feedback{
margin-top:100px;
position:fixed;
float:right;
	left:0;
	bottom:0;
}

.feedback a {
	display:block;
	height:20px;
	width:100px;
	text-align:center;
	background:#3e3e3e;
	border:2px solid #fff;
	outline:1px solid #a1a1a1;	
	padding:5px;
	float:left;
	cursor:pointer;
	
	/*Font*/
	color:#FFF;
	font-weight:bold;
	font-size:18px;
}

.feedback .form{
	clear:both;
	height:300px;
	width:250px;
	border:1px solid #000;
	background:#fff;
	padding:15px;
	display: none;
}
.feedback .form textarea{
	height:170px;
	width:250px;
	padding:5px;
}
.feedback .status{
	font-size:16px;
}


body {
margin: 0px;
padding: 0;
text-align: justify;
font-size: 11px;
color: #000000;
width: 100%;
 font-family: 'Open Sans', sans-serif;
}

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#container{
	width: 980px;
	margin: 0 auto;
	padding-top: 14px;
	}
	#container1{
	width: 980px;
	margin: 0 auto;

	}
#page {
	width: 980px;
	margin: 0 auto;
	padding: 0px;	
	height: auto;
	/*background: url(images/img03.jpg) left top;*/
}

 

#share-wrapper {
margin-top: 300px;
position: fixed;
left: 0;
}
#share-wrapper ul.share-inner-wrp {
list-style: none;
margin: 0px;
padding: 0px;
}
#share-wrapper li.button-wrap {
background: #FFFFFF;
padding: 0px 0px 0px 10px;
display: block;
width: 140px;
margin: 0px 0px 1px -117px;
}
#share-wrapper ul.share-inner-wrp {
list-style: none;
}
#share-wrapper li.button-wrap > a {
padding-right: 60px;
height: 40px;
display: block;
line-height: 32px;
font-weight: bold;
color: #444;
text-decoration: none;

font-size: 14px;
}
#share-wrapper .facebook> a {
background: url(../buttons/facebook.jpg) no-repeat right;
}
#share-wrapper .twitter > a {
background: url(../buttons/twitter.jpg) no-repeat right !important;
}
#share-wrapper .digg > a {
background: url(../buttons/phot.png) no-repeat right;
}
#share-wrapper .stumbleupon > a {
background: url(../buttons/printer.png) no-repeat right;
}
#share-wrapper .google > a {
background: url(../buttons/plus.png) no-repeat right;
}
#share-wrapper .email1 > a {
background: url(../buttons/email.jpg) no-repeat right;
}
#Header_wrapper{
	clear: both;
	background: url(../images/whitefull.png) repeat-x top;	
	width: 100%;
	height: 297px;
}
#header_image
{
background: url(../images/headerbg.jpg) repeat-x;
width: 100%;
}
#footer_image
{
background: url(../images/footerbg.jpg) repeat-x;
width: 100%;
}
.hanechitra2{
width: 360px;
margin-left: 10px;
height: 170px;
background: url(../images/Headerlogo.png) no-repeat;
}

.hanechitra3{
width: 235px;
float: right;
margin-top: -23px;

}
.hanechitra4
{
width: 260px;
float:right;
margin: -68px -208px 0px 0px;
}
#upperlogo
{
margin:0px;
 border-right:0px solid #dedfdf;

 }
 #upperlogo li
{
float: right;
display: inline;	
}

#innerlogo
{
margin:0px;
 border-right:0px solid #dedfdf;
} 
#innerlogo li
{
float: left;
display: inline;	
}
#menu {
	width: 97%;
   margin: 15px auto 0px 16px;

	padding: 0;
	height: 54px;
	background-image:url(../images/menuplain.png);
	
	
}


#menu ul {
	width:960px;
	margin:0 auto 0px 0px;
	padding: 0px 0 0 0px;
	list-style: none;		
}

#menu li {
	float: left;
	display: inline;	
   height: 48px;
	margin-top: 6px;
border-right:1px solid #dedfdf;
	

}
#menu  li+li+li+li+li+li+li+li
{

	border-right:0px solid #bcbbbb;

}
#menu li input 
{
margin-top:5px;
width: 222px;
height: 27px;
margin-left: 7px;
}
li#home_leftline {
	border-left:0px solid #ccd4db;
	height:45px;
}

#menu a {
height: 50px;
margin: 0;
padding: 16px 8px 21px 8px;
text-decoration: none;
line-height: 40px;
font-size: 12px;
color: #807d7d;
font-weight: bold;
	
}

#menu a:hover,#menu li a:hover {
color:#FFF;
background: #c80d00;	
}
#menu .current_page_item a {
color:#FFF;
	background: #c80d00;
	/*border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;*/	
	box-shadow: 0px 3px 7px;
   -webkit-box-shadow: 0px 3px 7px;
	
}
.headerpatch
{

height: 40px;
margin-top: -7px;
margin-left: -43px;
padding-bottom: 11px;
}
.middle_boxes {
height:auto;

margin-top:10px;

}

.middle_box1, .middle_box2,.middle_box3,.middle_box4 {
width: 190px;
height: 205px;
float: left;
margin: 6px 10px 0px 1px;
padding: 18px;
border: 2px solid #666666;
border-bottom: 1px solid #404040;
border-right: 1px solid #a4a4a4;
border-top: 1px solid #ffffff;
border-left: 1px solid #ffffff;
box-shadow: 0px 1px 5px -1px;
-webkit-box-shadow: 0px 1px 5px -1px;
border-radius: 5px;	
}
.middle_box3_content1
{
width: 199px;
height: 213px;
float: left;
margin: 0px 10px 0px 12px;
padding: 15px;
border: 2px solid #666666;
border-bottom: 1px solid #404040;
border-right: 1px solid #a4a4a4;
border-top: 1px solid #ffffff;
border-left: 1px solid #ffffff;
box-shadow: 0px 1px 5px -1px;
-webkit-box-shadow: 0px 1px 5px -1px;
border-radius: 5px;	
 }

.middle_box3_content
{
width: 200px;
height: 198px;
float: left;
margin: 6px 10px 0px 1px;
padding: 10px;
border: 2px solid #666666;
border-bottom: 1px solid #404040;
border-right: 1px solid #a4a4a4;
border-top: 14px solid #ffffff;
border-left: 1px solid #ffffff;
border-radius: 5px;
box-shadow: 0px 1px 5px -1px;
-webkit-box-shadow: 0px 1px 5px -1px;
}




.priceorder
{
 width: 200px;
float: left;
height:36px;
margin: -15px -27px 0px 14px;
padding: 7px;


}
.priceorder1
{
 width: 200px;
float: left;
margin: -21px -19px 0px -7px;
padding: 7px;

}
.middle_boxnew{
width: 200px;
height: 305px;
float: left;
margin: -14px 0px 0px 3px;
padding: 15px;
border: 2px solid #666666;
border-bottom: 1px solid #404040;
border-right: 1px solid #a4a4a4;
border-top: 1px solid #ffffff;
border-left: 1px solid #ffffff;
box-shadow: 0px 1px 5px -1px;
-webkit-box-shadow: 0px 1px 5px -1px;
border-radius: 5px;	
overflow:auto;
}

.pricebox
{
width: 268px;
height: 99px;
float: right;
margin: 0px -9px 0px -4px;
padding: 0px;
background-image: url(../images/browse.png);

}

.content2
{
display:block;
width:197px;
height:200px;
}
.content2 a {
    text-decoration: none;
    color: #555;
}
.gobutton
{
padding-top: 30px;
} 
.imagin input
{
 width:100px;
 height:0px;
} 
.imagin
{
margin-top: -22px;
padding-right: 17px;
margin-left: 27px;
}
.content
{
display:block;
width: 200px;
height:200px;


}
.content a
{
text-decoration:none;
color: #555;

}

.content img
{
width: 168px;
height: 133px;
}
.borderimage
{
border-bottom: 1px solid #F2F2F2;
}
.content input
{

}
.gallery-price {

font-size: 15px;
color: #de3e3e;
font-weight: bold;
text-align:right;
margin-bottom: -23px;
margin-top: 7px;
}


.gallery-price2 {

font-size: 15px;
color: #de3e3e;
font-weight: bold;
text-align:right;
margin-bottom:-5px;
}
.datalist3  a
{
color:#827f7f;
font-weight:bold;
font-size:14px;
margin-top:5px;
list-style-type:circle;
}
.join
{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
width: 26%;
}

.content2 p {
font-size:16px;
color: #eb0f0e;
border-bottom:0px solid #949191;
}

#footer a { 
	text-decoration: none; 
}

.footer_list3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_list3 li {
	line-height:20px;
	list-style-type:circle;	
	color:#827f7f;
	margin-left:13px;
}

.footer_list3 li a { 
font-size:12px;
	text-decoration: none;
		color:#827f7f;
	font-weight:bold;	
	
}
.footer_list3 img
{	
	width:30px;
	height:26px;}

.footer_list3  a:hover{
text-decoration:underline;
color:#fff;
}


.footer_list3 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_list3 li {
	line-height:25px;
	list-style-type:none;	
	color:#f4b947;
	margin-left:13px;
}

 .footer_list3 li a { 
font-size:12px;
	text-decoration: none;
		color:#827f7f;
	font-weight:bold;	
	
}

 .footer_list3 li a:hover 
 {
color:#4d96b9;
} 
.footer_list3 img
{	
	width:30px;
	height:26px;}

.footer_list3  a:hover{
text-decoration:underline;
color:#fff;
}
.arrow {
float: right;
}

.arrow img {
width: 20px;
height: 20px;
}






.scrollup {
width: 40px;
height: 40px;
position: fixed;
bottom: 40px;
right: 10px;
display: none;
text-indent: -9999px;
background: url('../images/icon_top.png') no-repeat;
opacity: 0.7;
cursor: pointer;
}
.scrollup:hover{
text-decoration:none;
}

.payment
{

}
#payment_method h4
{
color:#fff;

}
#joinus h2
{
text-align:center;
height: 30px;
width:200px;
background-color:#948f8b;
color:#f1f0f0;
margin-top: 12px;
}

.email 
{
margin-top:6px;
height:40px;
width: 184px;
}
.subsciber
{
float:right;
}

 .modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	overflow:auto;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 923px;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);

}
.close {
	background: #FFFFFF;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: 168px;
text-align: center;
top: 16px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* ------------------------------------Footer------------------------------------ */


#footer_wrapper{
	clear: both;
	background: url(../images/main_footer.jpg) repeat-x top;
	bbackground:#c6c6c6;	
	width: 100%;
padding-top: 18px;

}
#footer {
	width: 960px;
	margin: 0 auto 0 1px;
	padding: 54px 1px;
	color: #40464f;
	font-size:13px;	
	
}
.datalist
{
color:#E8E8E8;
list-style-type:circle;
font-size:12px;
margin-top:5px;
}

#footer a { 
	text-decoration: none; 
}

#footer .footer_list {
	margin: 0;
	padding: 0;
	list-style: none;

}

#footer .footer_list li {
	line-height:25px;
}

#footer .footer_list li a { 
font-size:12px;
	text-decoration: none;
		color:#E8E8E8;
	font-weight:bold;	
}
.footer_list img
{
	
	width:30px;
	height:26px;}

#footer .footer_list  a:hover{
text-decoration:underline;
color:#fff;
}

#footer h3 {
	ccolor:#E8E8E8;
	color:#E8E8E8;
	padding-bottom: 0px;
	font-size:16px;	
}

#copyright_wrapper {
	clear: both;
	bbackground: url(../images/footer-bootom-img.jpg) repeat-x top;
	background:#061f3e;
	width: 100%;

}

#copyright {
	width: 960px;
	margin: 0 auto;
	padding: 0px 10px 15px;
	ccolor: #3a4f83;
	color:#fff;
	text-align: right;
	font-size:12px;
}

#copyright  a {
	color: #607fcb;
	text-decoration: none;
}

.footer_social_button { 
	clear: both;
    margin-top:55px;	
	mmargin-bottom: 40px; 
}

.footer_social_button a { 
	margin-right: 5px; 
	margin-top:60px;
}
.col_w960 { 
	width: 960px; 
	margin-bottom: 60px; 
}

.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px }

.col_allw300 { 
	float: left; 
	width: 210px; 
	margin-right:20px;
	color:#E8E8E8;
}

.col_allw300 p {
	font-size:11px;
	line-height:normal;
}
.col_last { 
	margin: 0; 
}
.subscribe-box {
	font-size: 9px;
	font-weight: bold;
	color: #9a2500;
	text-decoration: none;
	float: left;
	height: 20px;
	padding-top: -2px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.subscribe-text-box {

	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 145px;
	border: 1px solid #CCCCCC;
}
.subscribe-text-box:hover {
	
	font-size: 9px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 145px;
	border: 1px solid #999999;
}
.subscribe-submit {
 width:70px; 
background:#00b050; 
border:0; 
color:#fff; 
height:27px; 
display:block; 
line-height:26px; 
cursor:pointer; 
margin:-3px 0 10px 155px;
text-align:center;
}




#footer_menu{
	clear: both;
	background: url(../images/footer.jpg) repeat-x top;
		
	width: 100%;
margin-top:1px;
	height:20px;
}
#footer_menu h3
{
color:#E8E8E8;
	padding-bottom: 0px;
	font-size:16px;	
}

#footer2 {
width: 960px;
padding: 66px 1px;
color: rgb(232, 232, 232);
font-size: 14px;
margin-top: -112px;
}


#footer2 .footer_list_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer2 .footer_list_menu li {
	line-height:25px;
}

#footer2 .footer_list_menu li a { 
    line-height:6px;	
	text-decoration: none;
		color:#E8E8E8;
		float:left;
		margin-right:4px;
	font-weight:bold;
	padding:2px;
	font-size:12px;
	
}
#footer2 .footer_list_menu  a:hover{
text-decoration:underline;
color:#fff;
}
/*end footer*/

.element.style {
margin-top: 84px;
top: 50%;
}

#mrova-img-control {
cursor: pointer;
position: fixed;
right: 0px;
width: 27px;
background: transparent url('../images/FEEDBACK.jpg');
height: 129px;

}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: white;
	
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
.form{display:block;

font-size:13px;
}
h2{
font-family:calibri;
}
.wert
{
width:380px;
}
.for_facebook
{
margin-left:15px;
margin-bottom:-10px;
}
.forbutton {
	width:60px;
	background:#db4f4a; color:#fff; 
	cursor:pointer;
	padding:5px 10px; 
	border: none;
}


.main-index-container .left-container-index{width: 73.5%; float: left;}
.main-index-container .right-container-index{width: 26%; float: left; margin-top: 11px;}



